* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.name-highlight {
  color: orange;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 3%;
  padding: 2%;
}
.half-width img {
  width: 100%;
}
.margins {
  margin-top: 150px;
}
.link-button {
  color: white;
  text-decoration: none;
  font-weight: 800;
  background-image: linear-gradient(180deg, tomato, lightsalmon);
  padding: 10px 30px;
  border-radius: 5px;
}

section {
  height: 600px;
  margin-bottom: 100px;
}
.second-banner {
  background-image: url("images/second-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.position {
  margin-top: 165px;
}
.recipies {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.recipies p {
  width: 40%;
  text-align: center;
}
.box-shadow {
  margin-left: 250px;
}
.box {
  height: 400px;
  width: 400px;
  box-shadow: 10px 10px 40px grey;
  border-radius: 20px;
  margin-top: 50px;
}
.box-shadow img {
  height: 200px;
}
.box2 {
  margin: 10%;
  width: 80%;
  height: 250px;
  box-shadow: 10px 10px 40px grey;
  border-radius: 20px;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.flex-margin {
  margin: 0px 80px;
}
.align {
  background-color: black;
  height: 200px;
  color: white;
}
